DJANGO_SECRET_KEY=django-insecure-change-this-before-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=team_finder
POSTGRES_USER=teamfinder_app
POSTGRES_PASSWORD=TeamFinderDb_2026_secure
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TASK_VERSION=1
